@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import 'src/assets/styles/_variables.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: $background;
    color: $white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1a1616;
}

::-webkit-scrollbar-thumb {
    background: #332c2c;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #332c2c #1a1616;
}

*::-webkit-scrollbar-thumb {
    background: #333 !important;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}


button {
    border: none;
    cursor: pointer;
    background-color: $white;
}

.text-gradient {
    background: -webkit-linear-gradient(#7231CA, #3C2084);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.splash-wrapper {
    position: absolute;
    top: 30%;
    left: 38%;
    width: 407px;
    height: 342px;
    background: url(/assets/pictures/hero-splash.svg) center center no-repeat;
    background-size: auto;
    background-size: contain;
    z-index: -1;
}
