<div class="container">
    <div class="main">
        <h1>
            <span><span class="text-gradient">ERA.Tech</span> - <br>українська<br>outsource</span>
            <span><span class="text-gradient">IT</span>-компанія</span>
        </h1>
        <div class="splash-wrapper"></div>
        <div class="object-3d"></div>
    </div>
    <div class="slick-block">
        <div class="slick-block-items">
            <h3>ERA.Tech</h3>
            <img src="assets/icons/logo-white-transparent-icon.png" alt="era.tech">
            <h3>ERA.Tech</h3>
            <img src="assets/icons/logo-white-transparent-icon.png" alt="era.tech">
            <h3>ERA.Tech</h3>
            <img src="assets/icons/logo-white-transparent-icon.png" alt="era.tech">
            <h3>ERA.Tech</h3>
            <img src="assets/icons/logo-white-transparent-icon.png" alt="era.tech">
            <h3>ERA.Tech</h3>
            <img src="assets/icons/logo-white-transparent-icon.png" alt="era.tech">
            <h3>ERA.Tech</h3>
            <img src="assets/icons/logo-white-transparent-icon.png" alt="era.tech">
            <h3>ERA.Tech</h3>
            <img src="assets/icons/logo-white-transparent-icon.png" alt="era.tech">
            <h3>ERA.Tech</h3>
            <img src="assets/icons/logo-white-transparent-icon.png" alt="era.tech">
            <h3>ERA.Tech</h3>
            <img src="assets/icons/logo-white-transparent-icon.png" alt="era.tech">
            <h3>ERA.Tech</h3>
            <img src="assets/icons/logo-white-transparent-icon.png" alt="era.tech">
            <h3>ERA.Tech</h3>
        </div>
    </div>
    <div class="our-values">
        <div class="our-values-title">
            <h2>Наші <span class="text-gradient">цінності</span></h2>
        </div>
        <div class="our-values-description">
            <div class="title">
                <h3>Твоє майбутнє<br>залежить від людей<br>які тебе оточують</h3>
            </div>
            <div class="values">
                <div class="value-1">
                    <h4>Цінності</h4>
                    <p>Фундаментальні переконання, на які ми спираємось у роботі та житті. Вони відповідають на запитання: що для нас важливо?</p>
                </div>
                <div class="value-2">
                    <h4>Принципи</h4>
                    <p>Логіка, якою ми керуємося, приймаючи рішення та спілкуючись одне з одним, клієнтами та партнерами. Вони випливають із
                    цінностей і є більш прикладними.</p>
                </div>
            </div>
        </div>
        <img src="assets/pictures/our-values-1.png" alt="">
    </div>
</div>