@import 'src/assets/styles/_variables.scss';

.container {
    width: 80%;
    height: 80vh;
    margin: 0px auto;

    .main {
        display: flex;
        justify-content: space-around;
        text-align: justify;
        align-items: center;
        height: 80vh;

        h1 {
            font-size: 60px;
            display: flex;
            align-items: end;
            justify-content: space-between;
            width: 70%;
            margin: -100px auto 0px auto;
        }
    
        .object-3d {
            position: absolute;
            top: 33%;
            left: 35%;
            width: 407px;
            height: 342px;
            transform: scale(2);
            background: url(/assets/pictures/object3d.png) center center no-repeat;
            background-size: auto;
            background-size: contain;
        }
    }

    .slick-block {
        height: 50px;
        width: 110%;
        position: absolute;
        left: -1rem;
        bottom: 2rem;
        background: white;
        z-index: 1;
        background: linear-gradient(90.81deg, #1960FF -0.95%, #8B08F8 42.44%, #8B08F8 56.24%, #F15934 78.43%, #FFAF02 90.06%, #00B843 97.66%);
        transform: rotate(-5deg);
        overflow: hidden;

        &-items {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: fit-content;
            white-space: nowrap;
            animation: loop 120s linear infinite;
            gap: 4rem;

            img {
                width: 40px;
            }
        }
        @keyframes loop {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-50%);
            }
        }
    }

    .our-values {
        width: 100%;
        margin-top: 10rem;

        &-title {
            font-size: 44px;
            display: flex;
            justify-content: center;
        }

        .our-values-description {
            display: flex;
            width: 50%;
            height: 40vh;
            position: absolute;
            padding: 36px 32px;
            z-index: 2;
            background: #191616;
            border: 1px solid #fff;
            border-radius: 12px;
            left: 25%;
            bottom: -200vh;

            .title {
                width: 150%;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .values {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h4 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                p {
                    opacity: 0.6;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: justify;
                }
            }
        }

        img {
            position: absolute;
            left: 0;
            width: 100%;
        }
    }
}